
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="container my-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center mb-4">A propos de nous</h1>
      <p class="lead">PlancherExpert est spécialisée dans la fabrication et l'installation de couvre-planchers de plusieurs types, tels que les planchers en bois franc, les planchers stratifiés, les planchers de vinyle, les planchers de céramique et bien plus encore. Nous avons une équipe de professionnels qualifiés qui sont prêts à vous aider à choisir le revêtement de sol parfait pour votre maison ou votre entreprise.</p>
        <p class="lead">Chez PlancherExpert, nous croyons que chaque projet est unique et mérite une attention particulière. C'est pourquoi nous offrons des services sur mesure pour répondre à vos besoins spécifiques. Que vous cherchiez à rénover votre maison existante ou à construire une nouvelle maison, notre équipe est là pour vous aider à choisir le meilleur produit pour votre projet.</p>
  </div>
  </div>
</div>