@model PlancherExpert.Models.Commande

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h1>Create</h1>

<h4>Commande</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypePlancher" class="control-label"></label>
                <input asp-for="TypePlancher" name="TypePlancher" class="form-control" value="@ViewData["TypePlancher"]"/>
                <span asp-validation-for="TypePlancher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Superficie" class="control-label"></label>
                <input asp-for="Superficie" class="form-control" />
                <span asp-validation-for="Superficie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixMat" class="control-label"></label>
                <input asp-for="PrixMat" name="PrixMat" class="form-control" value="@ViewData["PrixMat"]"/>
                <span asp-validation-for="PrixMat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixMainOeuvre" class="control-label"></label>
                <input asp-for="PrixMainOeuvre" name="PrixMainOeuvre" class="form-control" value="@ViewData["PrixMainOeuvre"]"/>
                <span asp-validation-for="PrixMainOeuvre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdClient" class="control-label"></label>
                <select asp-for="IdClient" class ="form-control" asp-items="ViewBag.IdClient"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

